* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
img {
  height: 180px;
  width: 200px;
}

h1 {
  color: white;
  background-color: rgb(58, 56, 56);
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
  text-align: center;
}

/* Flex box starts here! */
.flex-direction {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row-reverse;
}
