* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
img {
  height: 180px;
  width: 200px;
}

h1 {
  color: white;
  background-color: rgb(58, 56, 56);
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
  text-align: center;
  background-color: khaki;
}

/* Flex box starts here! */
.flex-direction {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row-reverse;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.justify-content {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
}
.align-items {
  padding: 0.5rem;
}
.align-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.align-items img:first-child {
  height: 250px;
}
.align-items img:nth-child(2) {
  height: 300px;
}
.align-items img:nth-child(3) {
  height: 350px;
}
.align-items img:nth-child(4) {
  height: 250px;
}
.align-items img:nth-child(5) {
  height: 180px;
}
/* .align-items img:nth-child(6) {
  height: 300px;
} */
.align-items img:last-child {
  height: 100px;
}

.align-content img {
  padding: 0.5rem;
}
.align-content img:first-child {
  height: 250px;
}
.align-content img:nth-child(2) {
  height: 300px;
}
.align-content img:nth-child(3) {
  height: 350px;
}
.align-content img:nth-child(4) {
  height: 250px;
}
.align-content img:nth-child(5) {
  height: 180px;
}
/* .align-content img:nth-child(6) {
  height: 300px;
} */
.align-content img:last-child {
  height: 100px;
}
.align-content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
